img {
    width: 300px;
}
body {
    text-align: center;
}
body {
    text-align: center;
    font-family: 'Dosis', sans-serif;
    background-color: lightblue;
    color: red;
}

.circle{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: yellow;
    color: purple;
    text-align: center;
     line-height: 100px;
    font-weight: bold;
    font-size: 30px;
    float: left;
   
}
.container {
    height: 150px;
   margin: 0 auto;
   width: 500px;
}